<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Firstapp</name>
    <description>
        A base app to fork from.
    </description>
    <author email="test@example.com" href="http://">
        Matt Jackson
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
